#map { 
    height: 400px;
    width: 800px;
    display: flex;
 }
 header {
    display: flex;
    justify-content: center;
 }
 #Route {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 10px;
 }
 .map-container {
    display: flex;
    justify-content: center;
 }
 body {
    font-family: "Roboto Mono";
    background-image: url("./street.jpg");
    background-size: cover;
 }
